body {background: #252830;}
.navbar-inverse {background: #39393d; border: none;}
#hero {background-image: url(../img/muscle-1.jpg); background-color: rgba(0,0,0,0.3); background-blend-mode: overlay; background-position: 88% 0; max-height: 100%; background-size: cover; color: white; border-radius: 0; margin-top: -20px; padding: 17% 0;}
#hero-heading {margin-top: 0; font-weight: 900;}
#hero-body {font-size: 2em; font-weight: 300}
#hook {color: #fff}
#hook h1 {font-size: 2.5em; font-weight: 900}
.panel-item, .panel-checkout {border-radius: 0;}