a {-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
body {background: #252830;}
.navbar-inverse {background: #39393d; border: none;}
#hero {background-image: url(../img/muscle-1.jpg); background-color: rgba(0,0,0,0.3); background-blend-mode: overlay; background-position: 88% 0; max-height: 100%; background-size: cover; color: white; border-radius: 0; margin-top: -20px; padding: 17% 0;}
#hero-heading {margin-top: 0; font-weight: 900;}
#hero-body {font-size: 1.8em; font-weight: 300}
#hook, #promo {color: #fff; padding: 4em 0;}
#hook h1 {font-size: 2.5em; font-weight: 900}
#promo {padding-bottom: 0;}
#promo h1 {padding-bottom: 1em; margin-bottom: 0;}
#xpImg-1, #xpImg-2 {background-image: url(../img/proteinbag.jpg); background-size: cover; background-color: rgba(0,0,0,0.5); background-blend-mode: overlay; background-position: 50% 50%; height: 27em; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
#xpImg-1 h2, #xpImg-2 h2 {color: white; position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0;}
#xpImg-1:hover {background-color: rgba(61, 32, 17, 0.8);}
#xpImg-2:hover {background-color: rgba(226, 213, 66, 0.8)}
#chimp {padding: 3em 0}
#profileNav {padding-bottom: 1.5em}
#orders ul li {list-style: none; padding: 0;}
#itemName, #itemQty,#itemPrice {padding: 0;}
#emptyCart {font-weight: 100; color: #AEB0AE}
#emptyCartIcon {color: #AEB0AE; display: block; text-align: center; font-size: 500%;}
#priceLabel {margin: 1em 0; font-size: 120%;}
#cancellation {color: #AEB0AE}
#backButton {color: white;}
#backButton:hover {text-decoration: none; color: #AEB0AE;}
.panel-item, .panel-checkout {border-radius: 0;}
.btn-success {background: #A2AD7E; border-color: #8a9a58;}
@media (min-width: 768px) {
	#xpImg-1, #xpImg-2 {height: 35em;}
	#productDescription {max-height: 150px; overflow: auto;}
}
@media (min-width: 1200px) {
	#xpImg-1, #xpImg-2 {height: 48em; background-image: url(../img/proteinbag@2x.jpg);}
}