a {-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
h1, h2 {font-weight: 300;}
body {background: #252830; height: 100vh;}
#wrapper {min-height:100%; position:relative;}
#pageContent {padding-bottom: 31em}
.navbar-inverse {background: #39393d; border: none;}
#hero {background-image: url(../img/muscle-1.jpg); background-color: rgba(0,0,0,0.3); background-blend-mode: overlay; background-position: 88% 0; max-height: 100%; background-size: cover; color: white; border-radius: 0; margin-top: -20px; padding: 17% 0; margin-bottom: 0;}
#hero-heading {margin-top: 0; font-weight: 900;}
#hero-body {font-size: 1.8em; font-weight: 300}
#promo {color: #252830; padding: 4em 0; background: #ffffff;}
#promo h1:first-of-type {font-size: 2.5em; font-weight: 900; margin-top: 1em; padding-bottom: 0.5em;}
#promo {padding: 0;}
#promo h1 {padding-bottom: 1em; margin-bottom: 0;}
#promoText {padding: 3em 0;}
#xpImg-1, #xpImg-2 {background-image: url(../img/proteinbag.jpg); background-size: cover; background-color: rgba(0,0,0,0.5); background-blend-mode: overlay; background-position: 50% 50%; height: 27em; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
#xpImg-1 h2, #xpImg-2 h2 {color: white; position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0;}
#xpImg-1:hover {background-color: rgba(61, 32, 17, 0.8);}
#xpImg-2:hover {background-color: rgba(226, 213, 66, 0.8)}
#chimp {padding: 3em 0}
#profileNav {padding-bottom: 1.5em}
#orders ul li {list-style: none; padding: 0;}
#itemName, #itemQty,#itemPrice {padding: 0;}
#emptyCart {font-weight: 100; color: #AEB0AE}
#emptyCartIcon {color: #AEB0AE; display: block; text-align: center; font-size: 500%;}
#priceLabel {margin: 1em 0; font-size: 120%;}
#cancellation {color: #AEB0AE}
#backButton {color: white;}
#backButton:hover {text-decoration: none; color: #AEB0AE;}
.xp-row {display: flex; flex-wrap: wrap; justify-content: left;}
.xp-shop-item {display: flex; flex-direction: column; align-items: stretch; flex: 0 1 100%; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.panel-item>.panel-body a {color: #555;}
.panel-item>.panel-body a:hover {color: #A2AD7E; text-decoration: none;}
.panel, .panel-item, .panel-checkout {border-radius: 0;}
#xp-product-name a {vertical-align: middle;}
#xp-price {font-size: 1.25em; color: #8B8E59; font-weight: 500;}
#moreInfo {margin: 1.25em 0; display: block;}
#cartBtn, #heroCartBtn, #checkoutBtn {border: 3px solid #A2AD7E; border-radius: 0; font-size: 120%; background: transparent; color: #A2AD7E;}
#heroCartBtn {font-size: 140%; color: white; border-color: white; font-weight: 500; padding: 0.7em 1em;}
#cartBtn:hover, #heroCartBtn:hover, #checkoutBtn:hover {background: #A2AD7E; color: white; border-color: #A2AD7E;}
.btn-success {background: #A2AD7E; border-color: #8a9a58;}
.overide {text-align: left;}
#productOptions a, #productOptions form {margin: 0.3em 0 0 0;}
footer {width:100%; height:auto; position:absolute; bottom:0; left:0; background: #39393d; padding: 0; margin-top: 2em; color: white;}
footer h4 {color: #666666; padding: 0.6em;}
#footerNav {list-style: none; padding-left: 0; margin: 0;}
#footerNav li a {position: relative; display: inline-block; padding: 0.7142857143em 0;}
#footerNav li+li {margin-top: 2px;}
#footerLeft, #footerCenter, #footerRight {min-height: 14.642857143em;}
@media (min-width: 693px) {
	
	.xp-shop-item {flex: 0 1 50%; padding: 0 0.5em;}
	#checkoutBtn {max-width: 22.2857142857em; margin: 0 auto;}
}
@media (min-width: 768px) {
	#pageContent {padding-bottom: 25em;}
	#xpImg-1, #xpImg-2 {height: 35em;}
	.xp-shop-item {flex: 0 1 50%; padding: 0 0.5em;}
	footer {padding: 1em;}
	#footerRight {text-align: right;}
}
@media (min-width: 769px) {.overide {text-align: right;}
@media (min-width: 1084px) {
	.xp-shop-item {flex: 0 1 33.333333%; padding: 0 0.5em;}
}
@media (min-width: 1200px) {
	footer {padding: 3em;}
	#xpImg-1, #xpImg-2 {height: 48em; background-image: url(../img/proteinbag@2x.jpg);}
}